server:
  port: 1212
  
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/slaarks/config-repo/
          search-paths: product-service
          username: USERNAME
          password: PASSWORD
          
