server:
  port: 1212

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/slaarks/config-repo/
          search-paths: product-service, person-service, order-service
          username: USERNAME
          password: PASSWORD

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:1717/eureka/